@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
:root {
  --clr-Strong-Cyan: hsl(171, 66%, 44%);
  --clr-Light-Blue: hsl(233, 100%, 69%);
  --clr-Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --clr-Grayish-Blue: hsl(201, 11%, 66%);
  --ff-base: "Bai Jamjuree", sans-serif;
  --fw-regular: 400;
  --fw-bold: 600;
  --fs-regular: 16px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.3;
  min-height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 2.2rem;
  font-weight: var(--fw-bold);
}

h3 {
  font-size: 1.8rem;
  font-weight: var(--fw-bold);
}

h4 {
  font-size: 1.6rem;
  font-weight: var(--fw-bold);
  margin-bottom: 0.7rem;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--clr-Strong-Cyan);
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.justify-content-between {
  justify-content: space-between;
}

.d-inline-block {
  display: inline-block;
}

.d-grid {
  display: grid;
}

.w-35 {
  width: 35%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.mb-3 {
  margin-bottom: 1rem;
}

.bold {
  font-weight: var(--fw-bold);
}

body {
  font-family: var(--ff-base);
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
  color: var(--clr-Dark-Grayish-Blue);
  background-image: url("../image/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top 0 center;
}
body P {
  color: var(--clr-Grayish-Blue);
}

header {
  height: 5rem;
  margin-bottom: 1rem;
}

.main_container,
.footer_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.logo {
  width: 110px;
  margin: 0 auto;
}

.article {
  text-align: center;
  margin: 4rem auto;
}

.button-holder {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2.5rem;
}
.button-holder button {
  padding: 1rem 2rem;
  border-radius: 50rem;
  color: hsl(0deg, 0%, 100%);
  font-weight: var(--fw-bold);
  letter-spacing: 0.05rem;
}
.button-holder button:hover {
  transform: scale(1.02);
  transition: 0.1s ease;
}
.button-holder button:active {
  border-bottom: 4px outset hsla(210deg, 3%, 88%, 0.44);
  opacity: 0.8;
  padding-bottom: 10px;
}
.button-holder button:nth-child(1) {
  background-color: var(--clr-Strong-Cyan);
  box-shadow: 0px 6px 11px 2px rgba(38, 186, 164, 0.19);
}
.button-holder button:nth-child(2) {
  background-color: var(--clr-Light-Blue);
  box-shadow: 0px 6px 11px 2px rgba(97, 115, 255, 0.19);
}

.illustration {
  margin-bottom: 8rem;
}

.illustration_left {
  z-index: -1000;
}

.illustration_right_box {
  padding-inline: 5rem;
  gap: 2.5rem;
}

.devices {
  width: 70%;
  margin: 0 auto;
  margin-top: 3rem;
}

.feature {
  gap: 2rem;
}
.feature > * {
  flex: 1;
}
.feature .article {
  margin: 2rem auto;
}

.brand {
  margin-block: 9rem;
  gap: 6rem;
}
.brand > * {
  flex: 1;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

footer {
  background-color: hsla(202deg, 11%, 66%, 0.132);
  margin-top: 8rem;
}

.footer_container {
  place-content: center;
  grid-template-columns: auto repeat(5, 1fr) auto;
  padding-block: 2rem;
}

.widget {
  gap: 0.8rem;
}

.social-icon {
  gap: 1.5rem;
  grid-column-start: 7;
}
.social-icon > *:hover path {
  fill: var(--clr-Strong-Cyan);
}

@media (max-width: 65em) {
  body {
    background-image: url("../image/bg-header-mobile.png");
    background-size: cover;
  }
  .button-holder {
    flex-direction: column;
  }
  .illustration {
    flex-direction: column;
  }
  .illustration .illustration_left,
.illustration .illustration_right {
    width: 100%;
    text-align: center;
  }
  .illustration img {
    transform: translateX(0) !important;
    max-width: 75%;
    margin-bottom: 3rem;
  }
  .feature, .brand {
    flex-direction: column;
  }
  .footer_container {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1rem;
  }
  .footer_container img {
    width: 100px;
    margin-bottom: 1rem;
  }
  .widget {
    align-items: center;
  }
  .social-icon {
    grid-column-start: 1;
    margin-top: 1rem;
  }
}/*# sourceMappingURL=style.css.map */